@model IEnumerable<NewReminderASP.Domain.Entities.EventRecurrence>

@{
    ViewBag.Title = "Event Recurrence";
}

<link href="~/styles.css" rel="stylesheet" />

<h2>Event Recurrence</h2>

<table>
    <tr>
        <th>ID</th>
        <th>RecurrenceType</th>
        

    </tr>
    @foreach (var eventRecurrence in Model)
    {
        <tr>
            
            <td>@eventRecurrence.ID</td>
            <td>@Html.ActionLink(!string.IsNullOrEmpty(eventRecurrence.RecurrenceType) ? eventRecurrence.RecurrenceType : "Default Name", "DetailsEventRecurrences", "Event", new { id = eventRecurrence.ID }, null)</td>
        </tr>
    }
</table>