@model NewReminderASP.Domain.Entities.RegisterViewModel

@{
    ViewBag.Title = "Registration Pending";
}

<h2>Registration Pending</h2>

<div class="container">
    <p>Thank you for change email. A confirmation email has been sent to your provided email address. Please check your email and follow the instructions to complete the registration process.</p>
</div>