
@model IEnumerable<NewReminderASP.Domain.Entities.Role>
@{
    ViewBag.Title = "Role List";
}

<link href="~/styles.css" rel="stylesheet" />
<div class="form-container">
    <h2>Role List</h2>

    <table class="table-eco">
        <tr>
            <th>ID</th>
            <th>Name</th>

        </tr>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Id</td>
                <td>@Html.ActionLink(role.Name, "DetailsRole", new { id = role.Id })</td>
            </tr>
        }
    </table>
</div>