<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Unauthorized Access</title>
</head>
<body>
<h1>Unauthorized Access</h1>
<p>Sorry, you do not have the necessary permissions to access this page.</p>
</body>
</html>