@{
    ViewBag.Title = "UserRole List";
}

<link href="~/styles.css" rel="stylesheet" />
<div class="form-container">
    <h2>Role List</h2>

    <table class="table-eco">
        <tr>
            <th>UserId</th>
            <th>RoleId</th>

        </tr>
        @foreach (var userrole in Model)
        {
            <tr>
                <td>@userrole.UserId</td>
                <td>@userrole.RoleId</td>
            </tr>
        }
    </table>
    </div>