@model IEnumerable<NewReminderASP.Domain.Entities.Country>

@{
    ViewBag.Title = "Countries";
}

<link href="~/styles.css" rel="stylesheet" />

<h2>Countries</h2>

<table>
    <tr>
        <th>CountryID </th>
        <th>Country Code</th>
        <th>Phone Code</th>
        <th>Name</th>
    </tr>
    @foreach (var country in Model)
    {
        <tr>
            <td>@country.CountryID </td>
            <td>@country.CountryCode</td>
            <td>@country.PhoneCode</td>
            <td>@Html.ActionLink(!string.IsNullOrEmpty(country.Name) ? country.Name : "Default Name", "DetailsCountry", "Country", new { id = country.CountryID }, null)</td>
        </tr>
    }
</table>