<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IUserService" />
                <binding name="BasicHttpBinding_ICountryService" />
                <binding name="BasicHttpBinding_IAddressService" />
                <binding name="BasicHttpBinding_IPersonalInfoService" />
                <binding name="BasicHttpBinding_IEventService" />
                <binding name="BasicHttpBinding_IPhoneService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1080/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IUserService" contract="ServiceReference1.IUserService"
                name="BasicHttpBinding_IUserService" />
            <endpoint address="http://localhost:1080/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICountryService" contract="ServiceReference1.ICountryService"
                name="BasicHttpBinding_ICountryService" />
            <endpoint address="http://localhost:1080/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IAddressService" contract="ServiceReference1.IAddressService"
                name="BasicHttpBinding_IAddressService" />
            <endpoint address="http://localhost:1080/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IPersonalInfoService"
                contract="ServiceReference1.IPersonalInfoService" name="BasicHttpBinding_IPersonalInfoService" />
            <endpoint address="http://localhost:1080/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IEventService" contract="ServiceReference1.IEventService"
                name="BasicHttpBinding_IEventService" />
            <endpoint address="http://localhost:1080/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IPhoneService" contract="ServiceReference1.IPhoneService"
                name="BasicHttpBinding_IPhoneService" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>