

@{
    ViewBag.Title = "Countries";
}

<h2>Countries</h2>

<table>
    <tr>
        <th>ID</th>
        <th>Country Code</th>
        <th>Phone Code</th>
        <th>Name</th>
    </tr>
    @foreach (var country in Model)
    {
        <tr>
            <td>@country.ID</td>
            <td>@country.CountryCode</td>
            <td>@country.PhoneCode</td>
            <td>@country.Name</td>
        </tr>
    }
</table>

