@{
    ViewBag.Title = "UserRole List";
}

<style>

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    th {
        background-color: #f2f2f2;
    }

    tr:nth-child(even) {
        background-color: #f9f9f9;
    }
</style>

<h2>Role List</h2>

<table>
    <tr>
        <th>UserId</th>
        <th>RoleId</th>

    </tr>
    @foreach (var userrole in Model)
    {
        <tr>
            <td>@userrole.UserId</td>
            <td>@userrole.RoleId</td>
        </tr>
    }
</table>