@{
    // Set the page title
    ViewBag.Title = "About";
}

<main aria-labelledby="title">
    <!-- Title -->
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <!-- Additional Information Section -->
    <p>Use this area to provide additional information.</p>
</main>